html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 900px;
    z-index: 0;
}

#panel {
	position: absolute;
	top: 5px;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	z-index: 1000;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#gameContainer {
    position: absolute;
	top: 20%;
	left: 20%;
	z-index: 1000;
}

input {
	display: inline-block;
	float: left;
	margin: 0 2%;
}
#hud {
	position: absolute;
	bottom: 5px;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	z-index: 1000;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
.box {
	text-align: center;
	width: 18.5%;
	margin: 2%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: #ffd;
	border: 1px solid #999;
}
.box a {
	text-decoration: none;
	color: black;
}