html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

#map {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#gameContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
}
